#container {
    max-width: 400px;
    margin: 10vh auto auto;
    box-shadow: 0px 0px 43px 17px rgb(0, 0, 0);
}

#output {
    width: 95%;
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
} 

#buttons {
    height: 400px;
    width: 100%;
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}

#equalto{
    background-color: blue;
    color: beige;
}


#equalto:hover{
    color: black;
    background-color: white;
}

/* #buttons:hover{
    background-color: black;
} */

#plus:hover{
    background-color: blue;
    color: white;
}

#minus:hover{
    background-color: blue;
    color: white;
}

#multiply:hover{
    background-color: blue;
    color: white;
}

#divide:hover{
    background-color: blue;
    color: white;
}

#square:hover{
    background-color: blue;
    color: white;
}

#percent:hover{
    background-color: blue;
    color: white;
}

#seven:hover{
    background-color: blue;
    color: white;
}

#eight:hover{
    background-color: blue;
    color: white;
}

#nine:hover{
    background-color: blue;
    color: white;
}

#five:hover{
    background-color: blue;
    color: white;
}

#four:hover{
    background-color: blue;
    color: white;
}

#six:hover{
    background-color: blue;
    color: white;
}

#three:hover{
    background-color: blue;
    color: white;
}
#two:hover{
    background-color: blue;
    color: white;
}

#one:hover{
    background-color: blue;
    color: white;
}

#zeros:hover{
    background-color: blue;
    color: white;
}

#zero:hover{
    background-color: blue;
    color: white;
}

#point:hover{
    background-color: blue;
    color: white;
}

